/* Setjum inn „reset“ sem fjarlægir margin og padding af öllu */
* {
    margin: 0;
    padding: 0;
  }
  
  /* Reiknum stærð á öllum boxum sem border-box */
  html {
    box-sizing: border-box;
  }
  /* og látum erfast á allt */
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }
  
  /* hjálpar class sem felur sjónrænt en skjálesarar lesa */
  .sr-only:not(:focus):not(:active) {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
  }

  /* Stillingar */

:root {
  /* Grunn bilið okkar er 1rem == 16px */
  --font-base-body-px: 16px;
  --spacing: 1rem;

  /* Hámarksbreidd á efni */
  --max-width: 900px;

  /* Border breiddir */
  --border-small: 1px;
  --border-large: 8px;
  --border-radius: 6px;

  /* Litir */
  --color-gold: #ffe7ae;
  --color-gold-light: #fff1cf;
  --color-dark: #2f0505;
  --color-light: #fff9ee;

  /* Letur stillingar */
  --font-base-size: 1rem;
  --font-family-base: 'Noto Sans Display', Helvetica, Arial, sans-serif;
  --font-family-heading: 'Lora', Georgia, serif;
}


  /*** Almennt ***/

html,
input,
select,
button {
  font-size: var(--font-base-size);
  font-family: var(--font-family-heading);
}

a {
  color: inherit;
}

h2,
h3,
section {
  margin-bottom: var(--spacing);
}

img {
  max-width: 100%;
}

/*** Haus ***/

body > header {
  padding: var(--spacing);
  
  background-color: var(--color-dark);
  color: var(--color-light);
  
  text-align: center;
}

/*** Valmynd ***/

nav {
  margin-bottom: var(--spacing);
  padding: var(--spacing);
  
  background-color: var(--color-light);
  color: var(--color-dark);
  border-bottom: 8px solid var(--color-gold);
}

nav ul {
  display: flex;
  justify-content: center;

  list-style: none;
  text-align: center;

}

nav ul li {
  margin-right: var(--spacing);
}

/*** Meginmál ***/

main {
  margin: 0 auto;
  padding-left: var(--spacing);
  padding-right: var(--spacing);
  max-width: var(--max-width);
  display: flex;
  flex-direction: column;
}

/*** Fótur ***/

footer {
  display: flex;
  justify-content: center;
  margin-top: var(--spacing);
  padding: var(--spacing);
  border-top: 8px solid var(--color-gold);

  background-color: var(--color-dark);
  color: var(--color-gold-light);

  text-align: center;
}

footer > section {
  
  vertical-align: top;
  
}

footer ul {
  
  list-style: none;
}

/*** Box! ***/

.boxes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  column-gap: var(--spacing);

  margin-bottom: 2rem;
  padding-bottom: 1rem;

}

.boxes .box {
  min-width: 48%;
  padding: 0.5rem;
  
  list-style: none;
  width: calc(50% - 50px);

  background-color: var(--color-gold);
}

.boxes .box a {
  display: block;
  margin-top: 1rem;
  font-weight: bold;
}

/*** Opnunartími ***/

dt {
  font-weight: bold;
}

dd {
  margin-bottom: var(--spacing);
}

/*** Matseðill ***/

table {
  margin-bottom: var(--spacing);
  border-spacing: 0;
}

table th,
table td {
  padding: 0.5rem;
}

table tbody tr:nth-child(2n + 1) {
  background-color: var(--color-gold-light);
}

/*** Pöntunarform ***/

fieldset {
  margin-bottom: 1rem;
  border: 1px solid var(--color-gold);
  padding: 1rem;
}

fieldset legend {
  font-weight: bold;
}

fieldset div {
  margin-bottom: 1rem;
}

fieldset div label {
  display: block;
}

fieldset input,
fieldset select,
fieldset textarea {
  padding: 0.5rem;
}

fieldset input[type='checkbox'] {
  display: inline-block;
  margin-right: 0.5rem;
}

form button {
  padding: 0.25rem;
  border-radius: 6px;
}
